.page-footer__contacts {
  display: flex;
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    width: 565px;
    background-color: #ffffff;
    padding: 60px 80px;
  }
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 0;
  margin: 0;
}
