.page-footer {
  font-weight: 400;
  background-color: @basic_grey;
}

.page-footer__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    max-width: 1440px;
  }
}


@media (min-width: @tablet-width) {
  .page-footer__wrapper--bottom {
    display: flex;
  }
}
