.catalog-diet {
  font-weight: 400;
  background-color: #ffffff;
}

.catalog-diet__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .catalog-diet__wrapper {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__wrapper {
    padding: 0 110px;
  }
}

.catalog-diet__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .catalog-diet__list {
    flex-direction: row;
    gap: 80px;
  }
}

.catalog-diet__item {
  position: relative;
  background-color: @basic_grey;
  padding: 22px;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .catalog-diet__item {
    padding: 52px 77px;
  }
}

.catalog-diet__image {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .catalog-diet__image {
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__image {
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .catalog-diet__image--slim {
    left: auto;
    right: 62px;
    top: 81px;
    width: 200px;
    height: 211px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__image--slim {
    left: 52px;
    top: 41px;
    width: 100px;
    height: 106px;
  }
}

.catalog-diet__image--pro {
  left: 15px;
}

@media (min-width: @tablet-width) {
  .catalog-diet__image--pro {
    left: auto;
    right: 28px;
    top: 91px;
    width: 268px;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__image--pro {
    left: 33px;
    top: 47px;
    width: 134px;
    height: 100px;
  }
}

.catalog-diet__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 71px;
}

@media (min-width: @tablet-width) {
  .catalog-diet__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 20px;
    padding-left: 162px;
  }
}

.catalog-diet__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .catalog-diet__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding-top: 24px;
    padding-bottom: 52px;
    padding-right: 274px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-diet__description {
    padding-top: 73px;
    padding-bottom: 27px;
    padding-right: 0;
  }
}

.catalog-diet__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 19px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog-diet__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
  }
}
