.promo {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo {
    color: #000000;
    background-color: #ffffff;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-color: transparent;
  }
}

.promo__wrapper {
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    padding: 0 30px;
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    display: flex;
    padding: 0 110px;
    min-height: 550px;
    margin-bottom: 110px;

    &::before {
      position: absolute;
      top: -115px;
      right: 0;
      width: 720px;
      height: 694px;
      background-image: url("/img/main/promo/promo__image--desktop.jpg");
      background-position: right;
      background-repeat: no-repeat;
      content: "";
      z-index: -1;
    }
  }
}

.promo__wrapper--left-side {
  background-image: url("/img/main/promo/promo__image--mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @basic_green;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promo__wrapper--left-side {
    position: relative;
    background-image: none;
    background-color: transparent;
    margin: 0;
    padding-left: 87px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper--left-side {
    padding-top: 80px;
    padding-left: 80px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding: 0;
  padding-top: 27px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    padding-top: 52px;
  }
}

@media (min-width: @desktop-width) {
  .promo__title {
    padding-top: 26px;
  }
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 164px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .promo__description {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 50px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
  margin: 0 auto;
  color: #ffffff;
  background-color: @basic_green;
}

.promo__button--tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .promo__button--tablet {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 18px 26px;
    margin: 0;

    &:hover {
      background-color: #5eaa2f;
    }
  }
}

.promo__button--mobile {
  display: block;
  width: 280px;
  padding: 11px 44px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .promo__button--mobile {
    display: none;
  }
}

.promo__wrapper--right-side {
  margin-top: -138px;
}

@media (min-width: @tablet-width) {
  .promo__wrapper--right-side {
    position: relative;
    margin-top: 10px;
    text-align: center;
    height: 450px;
    z-index: 0;
  }
}

.promo__image {
  width: auto;
  height: 270px;
  margin: 0 auto;
  margin-right: 15px;
}

@media (min-width: @tablet-width) {
  .promo__image {
    position: absolute;
    width: auto;
    height: 610px;
    left: 40px;
    top: -100px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .promo__image {
    position: absolute;
    width: auto;
    height: auto;
    left: -50px;
    top: 15px;
    z-index: -1;
  }
}
