.special {
  font-weight: 400;
  background-color: #ffffff;
}

.special__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .special__wrapper {
    padding: 0 30px;
    margin-bottom: 104px;
  }
}

@media (min-width: @desktop-width) {
  .special__wrapper {
    padding: 0 110px;
  }
}

.special__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .special__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.special__list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .special__list {
    display: flex;
    flex-wrap: wrap;
    gap: 125px 175px;
    margin-top: 72px;
  }
}

@media (min-width: @desktop-width) {
  .special__list {
    justify-content: space-between;
    gap: 0;
  }
}

.special__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .special__item {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    max-width: 250px;
  }
}

.special__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .special__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 31px;
    padding: 0;
  }
}
