.stats {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .stats {
    margin-top: 63px;
  }
}

.stats__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  max-width: 450px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .stats__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.stats__container {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .stats__container {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .stats__container {
    display: block;
  }
}

.stats__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.stats__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .stats__item {
    margin-right: 88px;
  }
}

.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .stats__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .stats__description {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__item--money {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .stats__item--money {
    font-size: 20px;
    line-height: 20px;
    max-width: 175px;
    text-align: end;
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .stats__item--money {
    max-width: none;
    text-align: start;
    margin: 0;
    margin-top: 58px;
  }
}
