.catalog-additional__banner {
  background-color: @basic_green;
  background-image: url("../source/img/main/catalog/catalog-additional__banner.png");
  background-repeat: no-repeat;
  padding: 60px 43px;
}

@media (min-width: @tablet-width) {
  .catalog-additional__banner {
    margin: 0;
    padding-left: 422px;
    padding-top: 70px;
    padding-right: 154px;
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional__banner {
    margin-left: 80px;
    padding: 41px;
  }
}

.banner__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
