.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  font-weight: 400;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: 3px solid #ea00ff;
}

.products__item {
  background-color: #f2f2f2;
  list-style-type: none;
}

.products__item--last {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}
