.products__list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.products__item {
  list-style-type: none;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @tablet-width) {
  .products__item {
    background-color: @basic_grey;
    padding: 39px;
  }
}

.products__item--last {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .products__item--last {
    border: 2px solid @basic_grey;
  }
}
