.product-additional {
  font-weight: 400;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product-additional__list {
  margin: 0;
  padding: 0;
}

.product-additional__item {
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: @desktop-width) {
  .product-additional__item {
    display: flex;
    justify-content: space-between;
  }
}

.product-additional__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .product-additional__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.product-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

@media (min-width: @tablet-width) {
  .product-additional__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-additional__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

@media (min-width: @tablet-width) {
  .product-additional__description {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-additional__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

@media (min-width: @tablet-width) {
  .product-additional__price {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-additional__button {
  width: 100%;
  color: #ffffff;
  background-color: @basic_green;
  margin-top: 15px;
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .product-additional__button {
    display: flex;
    background-color: @basic_green;
  }
}
