.example {
  font-weight: 400;
  background-color: #ffffff;
  padding: 0 110px;
  border: 3px solid #ea00ff;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  max-width: 450px;
}

.stats__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.stats__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.stats__number--money {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.stats__description--money {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__wrapper {
  background-color: #f2f2f2;
}
