.special {
  font-weight: 400;
  background-color: #ffffff;
  padding: 0 110px;
  border: 3px solid #ea00ff;
}

.special__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.special__description {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.special__list {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  padding: 0;
  margin: 0;
}

.special__item {
  max-width: 201px;
  list-style-type: none;
}
