.main-nav {
  background-color: #ffffff;
}

.main-nav__list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
  }
}

.main-nav__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}

.main-nav__toggle {
  display: none;
}
