.main-nav {
  display: flex;
  background-color: #ffffff;
  border: 3px solid #ea00ff;
}

.main-nav__list {
  display: flex;
  list-style-type: none;
}

.main-nav__item {
  padding: 15px;
}

.main-nav__item a {
  color: #000000;
  text-decoration: none;
}
