.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .field {
    font-size: 20px;
    line-height: 30px;
  }
}
