.form-cat {
  font-weight: 400;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.form-cat__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form-cat__label {
    font-size: 20px;
    line-height: 30px;
  }
}
