.form-cat {
  font-weight: 400;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
}

.form-cat__item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.form-cat__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
  text-transform: uppercase;
  margin-right: 12px;
}

@media (min-width: @tablet-width) {
  .form-cat__label {
    font-size: 20px;
    line-height: 30px;
  }
}
