.form {
  max-width: 320px;
  padding: 0 20px;
}

.form-wrapper {
  font-weight: 400;
  background-color: #ffffff;
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form__button {
  padding: 10px 53px;
}

.form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
