.form-additional {
  font-weight: 400;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
}

.form-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-additional__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .form-additional__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .form-additional__item {
    min-width: 300px;
  }
}

.product-additional__button {
  padding: 10px 53px;
}
